@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Pen+Script&display=swap');

html {
  background: url(58366.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Nanum Pen Script', cursive;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  width: 100%;
}

.text-size-big {
  font-size: 4em;
}

.text-size-medium {
  font-size: 2.5em;
}

.text-size-small {
  font-size: 1.5em;
}

.chart-size {
  width: 500px;
  height: 250px;
}
