body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.greeting-div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 50px;
  width: 300px;
  height: 300px;
}

.black-div {
  background-color: black;
  color: white;
}
.white-div {
  background-color: white;
  color: black;
}

.black-div:hover {
  background-color: white;
  color: black;
}
.white-div:hover {
  background-color: black;
  color: white;
}
